nav {
    background-color: Black;
    height: 60px;
    margin-bottom: 5px;
}

.img {
    float: left;
    width: 170px;
}

.promo {
    width: 1000px;
}

ul li a {
    text-decoration: underline;
    color: white;
}

li {
    display: inline;
}

.qualite {
    display: inline;
}

ul {
    padding: 17px 30px 20px 30px;
    clear: both;
}

body {
    max-width: 1000px;
    margin: auto;
}

.text {
    margin-left: 500px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 18pt;
}

.barbuc {
    width: 100px;
}

.contenu-principal {
    display: flex;
}

.text-accueil {
    width: 70%;
}

.box {
    background: grey;
    width: 30%;
}


/* media queries */

@media screen and ( max-width :768px) {
    .box {
        display: none;
    }
    .header {
        height: auto;
    }
    .promo {
        width: 100%;
    }
    .body {
        width: 100%
    }
    .contenu-principal {
        font-size: 80%;
    }
    .text {
        margin-left: 300px;
    }
    li {
        display: block;
    }
    ul {
        margin: auto;
        padding: 6px;
    }
}